body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baby{
    width: 25%;
    margin-top:-80px;
}
h1 img{
    width: 10%;
    margin-top: -50px;
    float: left;
}

header {
    background-image: url(imagens/banner.png);
    color: #fff;
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 1rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.product {
    background-color: #ffffff;
    border: 1px solid #25c783;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 200px;
}
.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.order-form {
    background-color: #fff;
    border: 1px solid #25c783;
    border-radius: 10px;
    padding: 2rem;
    width: 300px;
    margin-bottom: 2rem;
}

.order-form h2 {
    margin-top: 0;
}

.order-form div {
    margin-bottom: 1rem;
}

.order-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.order-form input,
.order-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.order-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.order-form button:hover {
    background-color: #555;
}

.order-form input:invalid,
.order-form textarea:invalid {
    border-color: rgb(0, 255, 0);
}

